node_modules/
dist/
dev-dist/
*.local
.DS_Store
src-tauri/target/
src-tauri/gen/schemas/

android/.gradle/
android/build/
android/app/build/
android/*.keystore
android/keystore.properties
*.jks
android/*.apk
android/*.apk.idsig
android/*.aab
